Datafact/pipeline/5-511-MissColumnName.json
{
    "name": "5-511-MissColumnName",
    "properties": {
        "folder": {
            "name": "5-Finance/Update/ErrorDetectorPipelines"
        },
        "activities": [
            {
                "name": "5-511_LookUp",
                "type": "Lookup",
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "DelimitedTextSource",
                        "storeSettings": {
                            "type": "AzureBlobStorageReadSettings",
                            "recursive": true,
                            "wildcardFileName": "5-511-MissColumnName.csv",
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "DelimitedTextReadSettings"
                        }
                    },
                    "dataset": {
                        "referenceName": "5_511",
                        "type": "DatasetReference"
                    },
                    "firstRowOnly": true
                }
            },
            {
                "name": "5-511_ErrorManagement",
                "type": "IfCondition",
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@contains(activity('5-511_LookUp').output, 'firstRow')",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "5-511_Fail",
                            "type": "Fail",
                            "userProperties": [],
                            "typeProperties": {
                                "message": "Missing Mandatory Columns Name in file asset-integration-accelerator-input/Finance/Update/AgingFamilies.csv. Open 5-511-MissColumnName.csv for details",
                                "errorCode": "5-511"
                            }
                        }
                    ],
                    "ifFalseActivities": [
                        {
                            "name": "5-511_Delete",
                            "type": "Delete",
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "dataset": {
                                    "referenceName": "5_511",
                                    "type": "DatasetReference"
                                },
                                "enableLogging": false,
                                "storeSettings": {
                                    "type": "AzureBlobStorageReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false,
                                    "wildcardFileName": "5-511-MissColumnName.csv"
                                }
                            }
                        }
                    ]
                },
                "dependsOn": [
                    {
                        "activity": "5-511_LookUp",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ]
            }
        ],
        "annotations": [],
        "lastPublishTime": ""
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}