Datafact/pipeline/ConditionalDeleteAgingFamilies.json
{
    "name": "ConditionalDeleteAgingFamilies",
    "properties": {
        "folder": {
            "name": "1-AssetPortfolio/Delete"
        },
        "activities": [
            {
                "name": "CheckFileExistence",
                "type": "GetMetadata",
                "policy": {
                    "timeout": "0.00:30:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "DeleteAgingFamilies",
                        "type": "DatasetReference"
                    },
                    "fieldList": [
                        "exists"
                    ],
                    "storeSettings": {
                        "type": "AzureBlobStorageReadSettings",
                        "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                        "type": "DelimitedTextReadSettings"
                    }
                }
            },
            {
                "name": "DeleteAgingFamilies_IfCheck",
                "type": "IfCondition",
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@activity('CheckFileExistence').output.exists",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "ExecuteDeleteAgingFamilies",
                            "type": "ExecutePipeline",
                            "userProperties": [],
                            "typeProperties": {
                                "pipeline": {
                                    "referenceName": "DeleteAgingFamilies",
                                    "type": "PipelineReference"
                                },
                                "waitOnCompletion": true
                            }
                        }
                    ],
                    "ifFalseActivities": []
                },
                "dependsOn": [
                    {
                        "activity": "CheckFileExistence",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ]
            }
        ],
        "annotations": [],
        "lastPublishTime": ""
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}